.title-galeri {@extend %transparent;}


.vse-knopki{
 @include centerFlex;
 @extend %ul;
    margin-bottom: 50px;
     margin-top: 94px;
@media screen and (max-width: 767px) {
 flex-wrap: wrap; 
 justify-content: flex-start;  
 

.list-vse {
@media screen and (max-width: 767px) {
&:not(:last-child) {margin-bottom: 15px;};        
} }

}     

.list-vse + .list-vse {margin-left: 8px;}}

.button
        {display: inline-block;
        background-color: $color-fon-button;
        border-radius: 4px;
         padding: 6px 22px;
         font-size: 16px;
         font-weight: 500;
         line-height: 1.6;
        transition:  background-color  $transition-valuse,
        color $transition-valuse;
    
&:hover,
&:focus {
            background-color: $active-button-color;
            color: $button-text-active;     }  }

.galeri {justify-content: center;
        @extend %ul;
@media screen and (min-width: $tablet) {
 display: flex;
 flex-wrap: wrap;
 justify-content: start;
 
 &-list {position: relative;
width: 100%;
@media screen and (max-width: 1199px) {
 &:not(:last-child) {margin-bottom: 30px;}    
        }  
@media screen and (min-width: $tablet) {
 width: calc((100% - 30px) / 2);   
        }
@media screen and (max-width: 1199px) {
&:not(:nth-child(2n)) {margin-right: 30px;}
&:nth-last-child(-n+2) {margin-bottom: 0;}   
        }
@media screen and (min-width: $desktop) {
width: calc((100% - 60px) / 3);  
margin-bottom: 30px;
&:nth-last-child(-n+3) {margin-bottom: 0;}
&:not(:nth-child(3n)) {margin-right:  30px;}} }

}}            






.galeri-link:hover .text-box {transform: translateY(-100%);} 

.image-container {
    width: 100%;
    position: relative;
    overflow: hidden;

.text-box {
        position: absolute;
      left: 0;
     top: 100%;
     margin: 0;
     width: 100%;
     height: 100%;
     padding: 63px 24px;
     bottom: 0;
     color:#FFFFFF;
     background-color: #2196F3;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.56;
  transition: transform $transition-valuse;
  }    }

  .cart-content {  
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    padding: 20px 24px;


.title-box {margin-top: 0;
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;    }
    
.subtitle {margin-top: 0;
            margin-bottom: 0;
             line-height: 1.9;
               color: $style-text-color;
        font-size: 16px;
        font-weight: normal;}     
    
&:hover {box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);} }
