$primary-text-color: #212121;
$primary-fon: #FFFFFF;
$style-text-color: #757575;
$color-fon-button: #F5F4FA;
$button-text-active: #FFFFFF;
$active-button-color: #2196F3;
$active-text-color: #2196F3;
$footer-fon-color: #2F303A;
$footer-text-color: #FFFFFF;
$logo-color: #2196F3;
$section-partner-color: #F5F4FA;
$color-adress-footer:  rgba(255, 255, 255, 0.6);
$text-fon: rgba(47, 48, 58, 0.8);
$color-title: #FFFFFF;
$color-border: #EEEEEE;
$color-modalnoe-okno: rgba(0, 0, 0, 0.2);

$rimary-font: Roboto, sans-serif;
$logo-font:  Raleway, cursive;


$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-valuse: 250ms $timing-function;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

